<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flook</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WriteRecipeServlet</display-name>
    <servlet-name>WriteRecipeServlet</servlet-name>
    <servlet-class>Servlet.WriteRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteRecipeServlet</servlet-name>
    <url-pattern>/writeRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoRecipeServlet</display-name>
    <servlet-name>VideoRecipeServlet</servlet-name>
    <servlet-class>Servlet.VideoRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoRecipeServlet</servlet-name>
    <url-pattern>/VideoRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>Servlet.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchingServlet</display-name>
    <servlet-name>SearchingServlet</servlet-name>
    <servlet-class>Servlet.SearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchingServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>Servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/facebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profileAnalyzing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlookRecipe</display-name>
    <servlet-name>FlookRecipe</servlet-name>
    <servlet-class>Servlet.FlookRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlookRecipe</servlet-name>
    <url-pattern>/recipeFlook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>test.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCode</display-name>
    <servlet-name>SendCode</servlet-name>
    <servlet-class>Servlet.SendCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCode</servlet-name>
    <url-pattern>/sendCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPasswordChange</display-name>
    <servlet-name>FindPasswordChange</servlet-name>
    <servlet-class>Servlet.FindPasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordChange</servlet-name>
    <url-pattern>/findPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsFeedServlet</display-name>
    <servlet-name>NewsFeedServlet</servlet-name>
    <servlet-class>Servlet.NewsFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeedServlet</servlet-name>
    <url-pattern>/newsFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRecipe</display-name>
    <servlet-name>MyRecipe</servlet-name>
    <servlet-class>Servlet.MyRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRecipe</servlet-name>
    <url-pattern>/myRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMyRecipe</display-name>
    <servlet-name>DeleteMyRecipe</servlet-name>
    <servlet-class>Servlet.DeleteMyRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMyRecipe</servlet-name>
    <url-pattern>/deleteMyRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>Servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyScrap</display-name>
    <servlet-name>MyScrap</servlet-name>
    <servlet-class>Servlet.MyScrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyScrap</servlet-name>
    <url-pattern>/myScrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRecipeServlet</display-name>
    <servlet-name>UserRecipeServlet</servlet-name>
    <servlet-class>Servlet.UserRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRecipeServlet</servlet-name>
    <url-pattern>/UserRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailUserRecipeServlet</display-name>
    <servlet-name>DetailUserRecipeServlet</servlet-name>
    <servlet-class>Servlet.DetailUserRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailUserRecipeServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScrapAddServlet</display-name>
    <servlet-name>ScrapAddServlet</servlet-name>
    <servlet-class>Servlet.ScrapAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScrapAddServlet</servlet-name>
    <url-pattern>/ScrapAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScrapDeleteServlet</display-name>
    <servlet-name>ScrapDeleteServlet</servlet-name>
    <servlet-class>Servlet.ScrapDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScrapDeleteServlet</servlet-name>
    <url-pattern>/ScrapDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NicenessServlet</display-name>
    <servlet-name>NicenessServlet</servlet-name>
    <servlet-class>Servlet.NicenessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NicenessServlet</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyRecipe</display-name>
    <servlet-name>ModifyRecipe</servlet-name>
    <servlet-class>Servlet.ModifyRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyRecipe</servlet-name>
    <url-pattern>/modifyRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowingServlet</display-name>
    <servlet-name>FollowingServlet</servlet-name>
    <servlet-class>Servlet.FollowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowingServlet</servlet-name>
    <url-pattern>/FollowingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowerServlet</display-name>
    <servlet-name>FollowerServlet</servlet-name>
    <servlet-class>Servlet.FollowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowerServlet</servlet-name>
    <url-pattern>/FollowerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendTodayServlet</display-name>
    <servlet-name>RecommendTodayServlet</servlet-name>
    <servlet-class>Servlet.RecommendTodayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendTodayServlet</servlet-name>
    <url-pattern>/todayRecipeRecommendd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>Servlet.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/followCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendServlet</display-name>
    <servlet-name>RecommendServlet</servlet-name>
    <servlet-class>Servlet.RecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendServlet</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileNicenessPostServlet</display-name>
    <servlet-name>ProfileNicenessPostServlet</servlet-name>
    <servlet-class>Servlet.ProfileNicenessPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileNicenessPostServlet</servlet-name>
    <url-pattern>/profileNiceness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckProfileServlet</display-name>
    <servlet-name>CheckProfileServlet</servlet-name>
    <servlet-class>Servlet.CheckProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckProfileServlet</servlet-name>
    <url-pattern>/checkProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetMyRecipe</display-name>
    <servlet-name>TargetMyRecipe</servlet-name>
    <servlet-class>Servlet.TargetMyRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetMyRecipe</servlet-name>
    <url-pattern>/targetMyRecipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetMyScrap</display-name>
    <servlet-name>TargetMyScrap</servlet-name>
    <servlet-class>Servlet.TargetMyScrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetMyScrap</servlet-name>
    <url-pattern>/targetMyScrap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetProfileAnalyzing</display-name>
    <servlet-name>TargetProfileAnalyzing</servlet-name>
    <servlet-class>Servlet.TargetProfileAnalyzing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetProfileAnalyzing</servlet-name>
    <url-pattern>/targetProfileAnalyzing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TargetMyGraph</display-name>
    <servlet-name>TargetMyGraph</servlet-name>
    <servlet-class>Servlet.TargetMyGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetMyGraph</servlet-name>
    <url-pattern>/targetMyGraph</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logOut</display-name>
    <servlet-name>logOut</servlet-name>
    <servlet-class>Servlet.logOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOut</servlet-name>
    <url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>Servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempServlet</display-name>
    <servlet-name>TempServlet</servlet-name>
    <servlet-class>Servlet.TempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempServlet</servlet-name>
    <url-pattern>/TempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileImageChangeServlet</display-name>
    <servlet-name>ProfileImageChangeServlet</servlet-name>
    <servlet-class>Servlet.ProfileImageChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileImageChangeServlet</servlet-name>
    <url-pattern>/ProfileImageChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreferenceServlet</display-name>
    <servlet-name>PreferenceServlet</servlet-name>
    <servlet-class>Servlet.PreferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreferenceServlet</servlet-name>
    <url-pattern>/preference</url-pattern>
  </servlet-mapping>
  <session-config>
      <session-timeout>30</session-timeout>
      
  </session-config>
</web-app>